<div id="forms">
	<div class="block" id="what">
		<div class="block" id="title">
			What are you sending?
		</div>
		<div class="block" id="what_options">
			<ul>
				<li>
					<div id="envelope" class="what_option unselected"><%= image_tag 'envelope.png' %></div>
					<div class="what_text">Envelope</div>
				</li>			
				<li>
					<div id="package" class="what_option unselected"><%= image_tag 'package.png' %></div>
					<div class="what_text">Package</div>
				</li>
				<li>
					<div id="box" class="what_option unselected"><%= image_tag 'box.png' %></div>
					<div class="what_text">Box</div>
				</li>
			</ul>
	</div>
	<div class="block" id="size">
		<div class="block" id="title">
			How big is the package?
		</div>
		<div class="block" id="size_options">
			<div class="block" id="select">
				<select name="size" id="size">
				  <option value="choose" selected="true">Choose One</option>
				  <option value="manual" id="manual">Enter Manually</option>
				  <option value="postcard">4 x 6 (Postcard)</option>
				  <option value="letter">6 x 11 (Letter)</option>
				  <option value="envelope">8.5 x 11 (Envelope)</option>
				  <option value="legal">8.5 x 14 (Legal Envelope)</option>
				</select>
			</div>
			<div class="block" id="manually" style="display:none">
				<span class="whd"><%= text_field_tag :w, nil, placeholder: "W" %></span> X <span class="whd"><%= text_field_tag :h, nil, placeholder: "H" %></span> X <span class="whd"><%= text_field_tag :d, nil, placeholder: "D" %></span> in
			</div>
		</div>
	</div>
	<div class="block" id="weight">
		<div class="block" id="title">
			How much does it weigh?
		</div>
		<div class="block" id="weight_options">
			<%= form_tag '#' do %>
				<%= text_field_tag :weight, nil, placeholder: "0.0" %> lbs
			<% end %>
		</div>
	</div>
	<div class="block" id="who">
		<div class="block" id="title">
			Who are you sending it to?
		</div>
		<div class="block" id="who_options">
			<%= form_tag '#' do %>
				<div class="left"><%= label_tag :name, "Send to" %></div><div class="right"><%= text_field_tag :name, nil, placeholder: "Full Name" %></div>
				<div class="left"><%= label_tag :street, "at" %></div><div class="right"> <%= text_field_tag :street, nil, placeholder: "Street" %></div>
				<div class="left"><span style='color:#fff'>.</span></div><div class="right"><%= text_field_tag :city, nil, placeholder: "City" %></div>
				<div class="left"><span style='color:#fff'>.</span></div><div class="right"><%= text_field_tag :state, nil, placeholder: "ST" %> <%= text_field_tag :zip, nil, placeholder: "Zip" %></div>
			<% end %>
		</div>
	</div>
	<div class="block" id="speed"></div>
</div>
<div id="next">
	
</div>